<% if @cartitem.errors.present? %>
    <p>エラーがあります。</p>
    <ul>
        <% @cartitem.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @cartitem , url: {action: :create} do |f| %>
    <p>
        商品名：<%= Product.find(@cartitem.product_id).name %>
    </p>
    <p>
        価格：<%= Product.find(@cartitem.product_id).price %>
    </p>
    <p>
        <%= f.label :qty, '数量' %>
        <%= f.text_field :qty %>
    </p>
    <%= f.hidden_field :product_id %>
    <%= f.submit '商品を登録する' %>
<% end %>

<br><%= link_to '商品一覧に戻る', products_path %>